<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration Page</title>
    <link th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>
<div class="registerForm">
    <h1>Register</h1>
    <form method="post" th:action="@{/register}"  id="logForm">
        <label>Username :</label>
        <input type="text" name="username">
        <label>password :</label>
        <input type="password" name="password">
        <label>Email :</label>
        <input type="email" name="email">
        <input type="submit" value="Register">
    </form>
</div>
</body>
</html>